[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MP0_BurstDebugInformation_DoNotShip/

# IDE
.vscode/
.vs/

# OS junk
.DS_Store

# Optional: don’t commit builds / exports from inside the project folder
*.apk
*.app
mono_crash*.json
